*{
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container{
  margin:50px auto;
  width: 90%;
  height: 400px;
  display: flex;
  /* text-align: center; */
  color: hsla(0, 0%, 100%, 0.75);
}
.container div{
  padding-top: 20px;
  padding-left: 20px;
  position: relative;
  

}
h1{
  color: white;
  font-size: 25px;
}
.sedans{
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.suv{
  background-color: hsl(184, 100%, 22%);
}
.luxury{
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
p{
  margin-top: 20px;
  line-height: 30px;
  width: 90%;
}
button{
  position: absolute;
  background-color: white;
  border: white 3px solid;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  bottom: 10%;
  font-weight: bold;
}
.sedans button{
  color: hsl(31, 77%, 52%);
}
.suv button{
  color: hsl(184, 100%, 22%);
}
.luxury button {
  color: hsl(179, 100%, 13%);
}
button:hover{
  cursor: pointer;
  background-color: transparent;
  color: white;
  transition: .5s;
}
@media only screen and (max-width: 700px){
  .container{
    display:block;
  }
  .container div{
    height: 300px;
    
  }
  .sedans{
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
  .luxury{
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }
}